@{
    ViewData["Title"] = "作業四";
}

<h1>作業四</h1>

<select id="selectCity">
</select>
<select id="selectDistrict">
</select>
<select id="selectRoad">
</select>


@section Styles{

}

@section Scripts{
    <script>
        const selCity = document.querySelector('#selectCity');
        const selDistrict = document.querySelector('#selectDistrict');
        const selRoad = document.querySelector('#selectRoad');

        LoadCities();

        function LoadCities() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/cities');
            xhr.send();

            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);

                var cities = datas.map(city => {
                    return (`<option value="${city}">${city}</option>`)
                })

                selCity.innerHTML = cities.join("");
                LoadDistricts();
                //console.log(selCity.option[selCity.selectedIndex].value);

            })
        }

        function LoadDistricts() {
            const city = selCity.options[selCity.selectedIndex].value;
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/api/districts?city=${city}`);
            xhr.send();

            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);

                var districts = datas.map(district => {
                    return (`<option value="${district}">${district}</option>`)
                })

                selDistrict.innerHTML = districts.join("");
                LoadRoads();
            })
        }

        function LoadRoads() {
            const district = selDistrict.options[selDistrict.selectedIndex].value;
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/api/roads?SiteId=${district}`);
            xhr.send();

            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                var roads = datas.map(road => {
                    return (`<option value="${road}">${road}</option>`)
                })
                selRoad.innerHTML = roads.join("");
            })
        }

        selCity.addEventListener('change', () => {
            LoadDistricts()
        })
        selDistrict.addEventListener('change', () => {
            LoadRoads();
        });
    </script>
}